# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Environment =====
.env
.env.local
.env.*.local

# ===== Dependencies =====
node_modules/
vendor/

# ===== Build =====
dist/
build/
out/
target/

.vscode/
.idea/
*.iml

tmp/
temp/
*.swp
*.swo

__pycache__/
*.py[cod]
.venv/
venv/


coverage/
*.lcov
